<div class="container">

  <section class="section">

  <div class="row">
    <h2>Contact Us!</h2>
  </div>

  <div class=" effect aeneas">
    <div class="buttons">
      <!-- <a href="#" class="fb" title="Join us on Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#" class="tw" title="Join us on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="#" class="insta" title="Join us on Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a> -->
      <a href="#" class="in" title="Join us on Linked In"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </div>
  </div>

  <div class="padding"></div>

  <p>+27 66 472 3644</p>
  <p><a href="mailto:bernhard@ihobegroup.com">bernhard@ihobegroup.com</a></p>
  <p>Somerset West,<br>
    Cape Town,<br>
    South Africa</p>

    <div class="fill-form">

      <!-- form goes here -->
      <form (ngSubmit)="processForm()">

        <!-- name -->
        <div class="form-field">
          <input type="text" name="name" class="input" placeholder="Name" [(ngModel)]="name" required minlength="3"
            #nameInput="ngModel">

          <div class="help is-error" *ngIf="nameInput.invalid && nameInput.dirty">
            Name is required and needs to be at least 3 characters long.
          </div>
        </div>

        <!-- email -->
        <div class="form-field">
          <input type="email" name="email" class="input" placeholder="Email" [(ngModel)]="email" required email
            #emailInput="ngModel">

          <div class="help is-error" *ngIf="emailInput.invalid && emailInput.dirty">
            Needs to be a valid email.
          </div>
        </div>

        <!-- cell -->
        <div class="form-field">
          <input type="cell" name="cell" class="input" placeholder="Cellphone Number" [(ngModel)]="cell" required
            #cellInput="ngModel">

          <div class="help is-error" *ngIf="cellInput.invalid && cellInput.dirty">
            Cell is required.
          </div>
        </div>

        <!-- company -->
        <div class="form-field">
          <input type="company" name="company" class="input" placeholder="Company" [(ngModel)]="company" required
            #companyInput="ngModel">

          <div class="help is-error" *ngIf="companyInput.invalid && companyInput.dirty">
            Company is required.
          </div>
        </div>

        <!-- message -->
        <div class="form-field">
          <textarea class="textarea" name="message" placeholder="What's on your mind?" [(ngModel)]="message" required
            #messageInput="ngModel"></textarea>

          <div class="help is-error" *ngIf="emailInput.invalid && emailInput.dirty">
            Your message is required!
          </div>
        </div>

        <button type="submit" class="button">Submit</button>

      </form>

    </div>


  </section>
</div>