@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

.container {
  background-color: #fff;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #686868;
    font-size: 3em;
    font-weight: 600;
    text-align: left;
    padding-bottom: 1em;
    
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #686868;
    font-size: 2em;
    font-weight: 600;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 2em;
    font-weight: 600;
    padding-bottom: .5em;
    text-align: center;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #686868;
    line-height: 1.7em;
    padding-top: 1em;
}

li {
    font-family: 'Montserrat', sans-serif;
    color: #686868;
    padding-bottom: 5px;
}

img {
    width: 70%;
}


.center {
    text-align: center;
}

