<div class="container">
    
    <h1>Profit Science Liquid</h1>

            <p>The application of Profit Science Liquid is based on 4 simple steps:</p>
                <li>
                    Step 1: Preparation of haul road as per international mine haul road specification
                </li>
                <li>
                    Step 2: Pre-treatment application
                </li>
                <li>
                    Step 3: Provide efficient time for the product to cure
                </li>
                <li>
                    Step 4: Apply maintenance applications
                </li>

            <div class="center">
                <img src="./assets/img/psl-1.PNG" alt="" />
            </div>

            <p>The simplicity of the product allows the mine to now become in control of their operations as they could either:</p>
            <li>
                Apply product themselves
            </li>
            <li>
                Promote a social development program, or
            </li>
            <li>
                Use a mine contractor to apply product
            </li>

            <p>The product suitability indicates the effectiveness of Profit Science Liquid in extreme dry and wet conditions in comparison to traditional dust palliatives. The innovative development of this product has eradicated some of the common issues such as wash-out of product, and slippery road conditions in wet and increased heat conditions.</p>
            
            <div class="center">
                <img src="./assets/img/psl-2.PNG" alt=""/>
            </div>
            

            <p>Currently with the increasing effects of climate change, mine operations are being exposed to erratic weather patterns. Most of the traditional dust palliatives are not suitable within the full spectrum of weather conditions, which is what makes Profit Science Liquid so unique.</p>

            <p>Some of the main benefits of the development of Profit Science Liquid are:</p>
            <li>
                No leaching or bleeding of product
            </li>
            <li>
                Biodegradable 
            </li>
            <li>
                Ultra-hydrophobic and super concentrated
            </li>
            <li>
                No specialised equipment requirements
            </li>
            <li>
                Limiting the carbon footprint in comparison to traditional dust palliatives
            </li>

            

</div>