<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/Home-Page.jpg')"> 
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <img src="./assets/img/logo-no-bg.png" alt="">
                </div>
                <h2 class="presentation-subtitle text-center"><br/>Dust Suppression and Road Stabilization Specialists</h2>
            </div>
        </div>
        
    </div>
    <div class="main">
      <app-about-us></app-about-us>
      <app-products></app-products>
      <app-faqs></app-faqs>
      <app-social></app-social>
      <app-tribute></app-tribute>
      <app-contact></app-contact>
    </div>
</div>

