@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

.container {
  margin-top: 5rem;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #686868;
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    
}

.column-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
    "content1 content2 content3";
}

#content1 {
  grid-area: content1;
}


#content2 {
  grid-area: content2;
  padding: 0 2em;
  text-align: justify;
  line-height: 1.5em;
}

#content3 {
  grid-area: content3;
}


h2 {
    font-family: 'Montserrat', sans-serif;
    color: #686868;
    font-size: 2em;
    font-weight: 600;
    padding-bottom: .8em;
    text-align: center;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #686868;
    line-height: 1.7em;
    padding-top: 2em;
}


img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 5px;
  border-radius: 5%;
}
 
.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  border-style: none;
}

.cards__item {
  width: 100%;
  padding-top: .0em;
}

.card {
  background-color: inherit;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &:hover {
    .card__image {
      filter: contrast(100%);
    }
  }
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  //filter: saturate(180%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
  
}

.card__title {
  font-family: 'Montserrat', sans-serif;
  color: #696969;
  font-size: .6rem;
  font-weight: 700;
  letter-spacing: .5px;
  text-transform: uppercase;
  text-align: center;
}

.logo {
  text-align: center;
}

.logo img {
  width: 80%;
}

.button {
  padding-top: .5em;
  font-family: 'Montserrat', sans-serif;
   background-color: #686868;
   width: 60%;
   display: block;
   color: white;
   border-radius: 20px;
   padding: .5em;
   text-decoration: none;
   font-size: 1.5em;
   margin: 3% auto 7%;
   position: relative;
   text-align: center;
   -webkit-transition: all .6s ease-out;
    transition: all .6s ease-out;
    font-weight: 500;
}


.button:hover {
  background-color: #21283b;
  transform: scale(1);
}

.block {
  position: relative;
  top: 0;
  height: 8rem;
  width: 100%;
  background-color: #999999;
}


@media only screen and (max-width: 900px) {
  .column-grid {
    grid-template-columns: .5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
      "content1 content2"
      "content3 content2"
      "content3 content2";
  }
}

@media only screen and (max-width: 576px) {
  h1 {
    font-size: 2rem;
  }

  .container {
    margin-top: 3rem;
  }

  
#content2 {
  padding: 0 1rem;
  text-align: left;
}
}


@media only screen and (max-width: 430px) {
  .column-grid {
    grid-template-columns: .5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
      "content1 content2"
      "content3 content2"
      "content3 content2";
  }

  h1 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 374px) {
  .column-grid {
    grid-template-columns: .5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
      "content1 content2"
      "content3 content2"
      "content3 content2"
      "content3 content2";
  }
}

@media only screen and (max-width: 334px) {

  h1 {
    font-size: 1rem;
  }
}