@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

.container {
  background-color: #fff;
  margin-top: 5em;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #686868;
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #686868;
    font-size: 2em;
    font-weight: 600;
    padding-bottom: .8em;
    text-align: center;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 2em;
    font-weight: 600;
    padding-bottom: .5em;
    text-align: center;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #686868;
    line-height: 1.7em;
    padding-top: 2em;
}

.parent {
    display: flex;
    flex-wrap: wrap;
}

.split {
    position: relative;
    height: 100%;
    z-index: 1;
    top: 0;
}

.left {
    width: 25%;
    float: left;
    border-collapse: collapse;
    padding-top: 20px;
}

.right {
  width: 25%;
  height: 100%;
  position: relative;
  border-collapse: collapse;
  padding-top: 20px;
}

.middle {
    width: 50%;
    float: right;
    height: 100%;
    background-color: #fff;
    border-collapse: collapse;
    padding: 0 2em;
    text-align: justify;
    line-height: 1.5em;
}

.split :nth-child(1) {
  order: 1;
}
.split :nth-child(2) {
  order: 2;
}
.split :nth-child(3) {
  order: 3;
}



*,
*::before,
*::after { 
  box-sizing: border-box;
}



img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 5px;
  border-radius: 5%;
}
 
.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  border-style: none;
}

.cards__item {
  width: 100%;
  padding-top: .0em;
}

.card {
  background-color: inherit;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &:hover {
    .card__image {
      filter: contrast(100%);
    }
  }
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  //filter: saturate(180%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
  
}

.card__title {
  font-family: 'Montserrat', sans-serif;
  color: #696969;
  font-size: .6rem;
  font-weight: 700;
  letter-spacing: .5px;
  text-transform: uppercase;
  text-align: center;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

.logo {
  text-align: center;
}

.logo img {
  width: 25em;
}

.button {
  padding-top: .5em;
  font-family: 'Montserrat', sans-serif;
   background-color: #686868;
   width: 60%;
   display: block;
   color: white;
   border-radius: 20px;
   padding: .5em;
   text-decoration: none;
   font-size: 1.5em;
   margin: 3% auto 7%;
   position: relative;
   text-align: center;
   -webkit-transition: all .6s ease-out;
    transition: all .6s ease-out;
    font-weight: 500;
}


.button:hover {
  background-color: #21283b;
  transform: scale(1);
}

@media (max-width: 990px) {

  .parent {
    height: 80em;
}

.left {
  width: 30%;
  float: left;
  border-collapse: collapse;
  padding-top: 20px;
}

  .right {
  width: 30%;
  position: relative;
  background-color: #fff;
  border-collapse: collapse;
  margin-top: -32em;
}

.middle {
  width: 70%;
  float: right;
  background-color: #fff;
  border-collapse: collapse;
  padding: 0 2em;
  text-align: justify;
  line-height: 1.5em;
}

.cards__item {
  padding-top: 0em;
}
}

.block {
  position: relative;
  top: 0;
  height: 8em;
  width: 100%;
  background-color: #696969;
}
