<head>
    <meta name="Dust Suppression Solutions"
        content="Dust suppression and road stabilization solutions">
</head>

<div class="block"></div>

<div class="container">
    <div class="column-grid">
        <div id="content1">
            <ul class="cards">
                <li class="cards__item">
                    <div class="card">
                        <div class="card__image"><img src="./assets/img/card-1.jpg" alt="" /></div>
                        <div class="card__content">
                            <div class="card__title">1X IBC container would be sufficient to treat over 10
                                000m<sup>2</sup> of road surface</div>
                        </div>
                    </div>
                </li>
                <li class="cards__item">
                    <div class="card">
                        <div class="card__image"><img src="./assets/img/card-2.jpg" alt="" /></div>
                        <div class="card__content">
                            <div class="card__title">Savings on operational costs</div>
                        </div>
                    </div>
                </li>
                <li class="cards__item">
                    <div class="card">
                        <div class="card__image"><img src="./assets/img/card-3.jpg" alt="" /></div>
                        <div class="card__content">
                            <div class="card__title">Reduced health and safety risks</div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
        <div id="content2">
            <h1>Dust Suppression Solutions</h1>
            <p>Our concept is revolutionizing the dust suppression industry using science and innovative technology to
                improve decision making and effectiveness of product in increasingly unpredictable climatic patterns.
                Through the current issues that are prevalent in the mining industry, in the context of dust suppression
                and road stabilization, Ihobe has undertaken an alternative approach in comparison to traditional dust
                palliatives.</p>

            <p>We have identified the core issues from mining corporations and dust suppression companies and integrated
                these concerns to create a simplistic, cost effective product, called Profit Science Liquid. Dust
                suppression companies have been viewed as:</p>
            <ul>
                <li>
                    Requirements of specialized equipment and staff
                </li>
                <li>
                    High operational costs
                </li>
                <li>
                    Increased health and safety risks
                </li>
            </ul>


            <p>To eradicate these issues, a Family of Profit Science Liquid (PSL) was developed around a concept of
                simplicity and cost efficiency. Our latest technology is a member of our polymer family that has been
                designed with ultra-hydrophobicity. The suitability and effectiveness of the product allows mine
                corporations to improve decision making and overall productivity of their operation.</p>

            <h2>Our Product</h2>
            <div class="logo">
                <img src="./assets/img/psl-logo.png" alt="" />
            </div>
            <a href="#profit-science-liquid" class="button">Read More</a>
        </div>
        <div id="content3">
            <ul class="cards">
                <li class="cards__item">
                    <div class="card">
                        <div class="card__image"><img src="./assets/img/card-4.jpg" alt="" /></div>
                        <div class="card__content">
                            <div class="card__title">Reduced staff requirements</div>
                        </div>
                    </div>
                </li>
                <li class="cards__item">
                    <div class="card">
                        <div class="card__image"><img src="./assets/img/card-5.jpg" alt="" /></div>
                        <div class="card__content">
                            <div class="card__title">Simple application process</div>
                        </div>
                    </div>
                </li>
                <li class="cards__item">
                    <div class="card">
                        <div class="card__image"><img src="./assets/img/card-6.jpg" alt="" /></div>
                        <div class="card__content">
                            <div class="card__title">Reduced rolling resistance</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>