@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

.container {
    padding-top: 5.5rem;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #686868;
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    padding-bottom: 2rem;
}

h2 {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    color: #686868;
    font-size: 2em;
    font-weight: 600;
    padding: 2rem 1rem;
    padding-top: 0;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #686868;
    text-align: left;
}

.row {
    padding-bottom: 1.5em;
    text-align: center;
}


.about-us-1 {
    overflow: hidden;
    width: 90%;
    height: 20em;
    float: left;
}
.about-us-2 {
    overflow: hidden;
    width: 90%;
    height: 18em;
    float: left;
}



.image {
    overflow: hidden;
    width: 27em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    margin: auto;
}

.image img {
    max-width: 100%;
    vertical-align: top;
    -webkit-transition: all 2s ease-out;
    transition: all 2s ease-out;
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

.image:hover img,
.image.hover img {
    -webkit-transform: scale(1);
    transform: scale(1);
}


.info-text p {
  font-size: 1.2em;
  line-height: 1.5em;

}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
}

ul li {
    text-align: center;
}

div:nth-child(3) {
    align-content: center;
}

@media (max-width: 991px) {
    .info-text {
        padding-bottom: 2rem;
    }
}

@media (max-width: 767px) {
    .image {
        margin-bottom: 2rem;
    }

    .about-us-1 {
        padding-bottom: 2rem;
    }
}


@media (max-width: 576px) {
    .info-text p {
        padding: 0 1rem;
    }
    
    .about-us-1 {
        overflow: hidden;
        width: 70%;
        height: 16rem;
        float: none;
    }
    .about-us-2 {
        overflow: hidden;
        width: 70%;
        height: 18em;
        float: none;
    }

}

@media (max-width: 410px) {
    
    .about-us-1 {
        width: 90%;
        height: 16rem;
        float: none;
    }
    .about-us-2 {
        width: 90%;
        height: 18em;
        float: none;
    }

}

@media (max-width: 348px) {
    .image {
        width: 23em;
    }
    
}







