<head>
    <meta name="About Ihobe International"
        content="Ihobe International has established over 10 years of experience within the dust suppression and road stabilization industry. Our company footprint has extended a range of geographic locations including the Democratic Republic of Congo, South Africa, Zambia, Mali, Sierra Leone, and Madagascar.">
</head>

<div class="container" id="about-us">
    <h1>About Us</h1>

    <div class="row">
        <div class="col-lg-6">
            <div class="info-text">
                <p>Ihobe International has established over 10 years of experience within the dust suppression and road
                    stabilization industry. Our company footprint has extended a range of geographic locations including
                    the Democratic Republic of Congo, South Africa, Zambia, Mali, Sierra Leone, and
                    Madagascar.<br><br>Ihobe International is an eco-friendly company with strong ethical values in the
                    context of health, safety and environmental protocol. The company focuses primarily on dust
                    suppression and road stabilization of haul roads (also including secondary and community roads). The
                    company’s core value is to maximize productivity within the mining industry while ensuring
                    environmental sustainability, health and safety and social welfare protocols are adhered to.</p>
            </div>
        </div>
        <div class="image">
            <img src="./assets/img/about-us-img.jpg" alt="" />
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <h2>Company Pillars and Concepts</h2>
        <ul>
            <li class="col-lg-6 col-md-6">
                <img class="about-us-1" src="./assets/img/about-us-2.jpg" alt="About Us" />
            </li>


            <li class="col-lg-6 col-md-6">
                <img class="about-us-2" src="./assets/img/about-us-3.jpg" alt="About Us" />
            </li>
        </ul>

    </div>
</div>