<div class="section-dark">
    <div class="container">
        <div class="row">
            <div class="info-text">
                <p><b>Tribute to our founder</b><br>With a vision and a goal to make the world a better place, your
                    concern for the environment and the planet along with your drive for success and innovation is the
                    platform from which we continue to base this company. </p>
            </div>
            <div class="image">
                <img src="./assets/img/tribute.JPG" alt="tribute-image" />
            </div>
        </div>
    </div>

</div>