.container {
    padding-top: 3rem;
    vertical-align: middle;
    
}
.center {
    width: 70%;
    padding: 10px;
    margin: 20px;
    margin: auto;
    display: flex;
    vertical-align: middle;
}

img {
    border-radius: 50%;
    width: 20rem;

}

p {
    text-align: center;
    margin: 30px;
    vertical-align: middle;
}