<div class="container">
	<h2>Frequently Asked Questions</h2>
<div class="tab">
	<input id="tab-one1" type="checkbox" name="tabs">
	<label for="tab-one1">What is Profit Science Liquid?</label>
	<div class="tab-content">
		<p>Profit Science Liquid is a polymer-based emulsion and is Ihobe Internationals latest development for dust suppression and road stabilization. Our product is designed for but not limited to primary and secondary mine haul roads.</p>
	</div>
</div>
<div class="tab">
	<input id="tab-two1" type="checkbox" name="tabs">
	<label for="tab-two1">Is Profit Science Liquid environmentally friendly?</label>
	<div class="tab-content">
		<p>Yes, Profit Science Liquid is biodegradable by nature and reduces environmental, social and health and safety risks which are inherent with traditional dust palliatives.</p>
	</div>
</div>
<div class="tab">
	<input id="tab-three1" type="checkbox" name="tabs">
	<label for="tab-three1">Can Profit Science Liquid result in water saving?</label>
	<div class="tab-content">
		<p>Yes, although Profit Science Liquid is diluted with water, once pre-treatment has been applied there is generally no need to apply water for up to a month. Recurring maintenance applications require less water in comparison to a water only approach for dust suppression.</p>
	</div>
</div>
<div class="tab">
	<input id="tab-four1" type="checkbox" name="tabs">
	<label for="tab-four1">Is Profit Science Liquid Stable under rainfall conditions?</label>
	<div class="tab-content">
		<p>Yes, although Profit Science Liquid can’t be applied when it is raining, once the product has cured, Profit Science Liquid creates a hydrophobic surface over the wearing course and prevents water penetration into the wearing course and base layers. </p>
	</div>
</div>
<div class="tab">
	<input id="tab-five1" type="checkbox" name="tabs">
	<label for="tab-five1">Does Profit Science Liquid have the capability of withstanding force of large haul trucks?</label>
	<div class="tab-content">
		<p>Yes, Profit Science Liquid was designed and developed to accommodate the shear stress on haul roads which experience high levels of traffic. Profit Science Liquid was designed to withstand the force of 400-ton vehicles, which highlights the strength of our latest polymer. </p>
	</div>
</div>
<div class="tab">
	<input id="tab-six1" type="checkbox" name="tabs">
	<label for="tab-six1">How does Profit Science Liquid reduce costs? </label>
	<div class="tab-content">
		<p>PSL reduces operational costs by substantially reducing the need for specialised equipment, staff and water that would be included in usual road maintenance.</p>
	</div>
</div>

</div>