<div class="container">
	<h2>Frequently Asked Questions</h2>
<div class="tab">
	<input id="tab-one1" type="checkbox" name="tabs">
	<label for="tab-one1">What is Profit Science Liquid?</label>
	<div class="tab-content">
		<p>Profit Science Liquid is a polymer-based emulsion and is Ihobe Internationals latest development for dust suppression and road stabilization. Our product is designed for but not limited to primary and secondary mine haul roads.</p>
	</div>
</div>
<div class="tab">
	<input id="tab-two1" type="checkbox" name="tabs">
	<label for="tab-two1">Is Profit Science Liquid environmentally friendly?</label>
	<div class="tab-content">
		<p>Yes, Profit Science Liquid is biodegradable by nature and reduces environmental, social and health and safety risks which are inherent with traditional dust palliatives.</p>
	</div>
</div>
<div class="tab">
	<input id="tab-three1" type="checkbox" name="tabs">
	<label for="tab-three1">Can Profit Science Liquid result in water saving?</label>
	<div class="tab-content">
		<p>Yes, Profit Science Liquid is a super concentrated and requires mixing with water for product application. Once applied, the product does not washout and removes the need to reapply product. Water requirements will differ from mine to mine.</p>
	</div>
</div>
<div class="tab">
	<input id="tab-four1" type="checkbox" name="tabs">
	<label for="tab-four1">Is Profit Science Liquid susceptible to washout when it rains?</label>
	<div class="tab-content">
		<p>No, Profit Science Liquid was developed as a dust suppression and road stabilizer and includes significant wet weather benefits. The product is hydrophobic and therefore repels water of the surface of the haul road, thus protecting the wearing course material, as well as the layers beneath from infiltration of water.</p>
	</div>
</div>
<div class="tab">
	<input id="tab-five1" type="checkbox" name="tabs">
	<label for="tab-five1">Does Profit Science Liquid have the capability of withstanding force of large haul trucks?</label>
	<div class="tab-content">
		<p>Yes, Profit Science Liquid was designed and developed to accommodate the shear stress on haul roads which experience high levels of traffic. Profit Science Liquid was designed to withstand the force of 400-ton vehicles, which highlights the strength of our latest polymer. </p>
	</div>
</div>
<div class="tab">
	<input id="tab-six1" type="checkbox" name="tabs">
	<label for="tab-six1">How does Profit Science Liquid reduce costs? </label>
	<div class="tab-content">
		<p>PSL reduces operational costs by substantially reducing the need for specialised equipment, staff and water that would be included in usual road maintenance.</p>
	</div>
</div>

</div>